# Looking at ICD-9 "Other Bacterial Diseases"

http://www.icd9data.com/2015/Volume1/001-139/030-041/default.htm
* 030 Leprosy
* 031 Diseases due to other mycobacteria
* 032 Diphtheria
* 033 Whooping cough
* 034 Streptococcal sore throat and scarlet fever
* 035 Erysipelas
* 036 Meningococcal infection
* 037 Tetanus
* 038 Septicemia
* 039 Actinomycotic infections
* 040 Other bacterial diseases
* 041 Bacterial infection in conditions classified elsewhere and of unspecified site

In [2]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2
import getpass
import pdvega

# for configuring connection 
from configobj import ConfigObj
import os

%matplotlib inline

In [3]:
# display all rows of pandas data frame
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', -1)

<ipython-input-3-b6f59137b3d1>:3: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [4]:
# Create a database connection using settings from config file
config='../db/config.ini'

# connection info
conn_info = dict()
if os.path.isfile(config):
    config = ConfigObj(config)
    conn_info["sqluser"] = config['username']
    conn_info["sqlpass"] = config['password']
    conn_info["sqlhost"] = config['host']
    conn_info["sqlport"] = config['port']
    conn_info["dbname"] = config['dbname']
    conn_info["schema_name"] = config['schema_name']
else:
    conn_info["sqluser"] = 'postgres'
    conn_info["sqlpass"] = ''
    conn_info["sqlhost"] = '127.0.0.1'
    conn_info["sqlport"] = 5432
    conn_info["dbname"] = 'eicu'
    conn_info["schema_name"] = 'eicu'
    
# Connect to the eICU database
print('Database: {}'.format(conn_info['dbname']))
print('Username: {}'.format(conn_info["sqluser"]))
if conn_info["sqlpass"] == '':
    # try connecting without password, i.e. peer or OS authentication
    try:
        if (conn_info["sqlhost"] == 'localhost') & (conn_info["sqlport"]=='5432'):
            con = psycopg2.connect(dbname=conn_info["dbname"],
                                   user=conn_info["sqluser"])            
        else:
            con = psycopg2.connect(dbname=conn_info["dbname"],
                                   host=conn_info["sqlhost"],
                                   port=conn_info["sqlport"],
                                   user=conn_info["sqluser"])
    except:
        conn_info["sqlpass"] = getpass.getpass('Password: ')

        con = psycopg2.connect(dbname=conn_info["dbname"],
                               host=conn_info["sqlhost"],
                               port=conn_info["sqlport"],
                               user=conn_info["sqluser"],
                               password=conn_info["sqlpass"])
query_schema = 'set search_path to ' + conn_info['schema_name'] + ';'

Database: eicu
Username: postgres
Password: ········

# 038 Septicemia
http://www.icd9data.com/2015/Volume1/001-139/030-041/038/default.htm

### Number of patients with each subtype

In [5]:
icd9 = '038.'
query = query_schema + """
select diagnosisstring, icd9code
, count(distinct patientunitstayid) as n
from diagnosis
where icd9code like '%{}%'
group by diagnosisstring, icd9code
order by n desc
""".format(icd9)

df = pd.read_sql_query(query, con)
df

,diagnosisstring,icd9code,n
0,cardiovascular|shock / hypotension|sepsis,"038.9, A41.9",10296
1,infectious diseases|systemic/other infections|sepsis,"038.9, A41.9",3175
2,infectious diseases|systemic/other infections|bacteremia,"038.9, R78.81",880
3,cardiovascular|shock / hypotension|sepsis|sepsis with single organ dysfunction- acute respiratory failure,"038.9, 518.81, R65.20, J96.0",782
4,cardiovascular|shock / hypotension|sepsis|sepsis with single organ dysfunction- acute renal failure,"038.9, 584.9, R65.20, N17",694
5,infectious diseases|systemic/other infections|bacteremia|gram postive coccus,"038.9, R78.81",441
6,cardiovascular|shock / hypotension|sepsis|sepsis with single organ dysfunction- circulatory system failure,"038.9, 785.52, R65.21",346
7,infectious diseases|systemic/other infections|bacteremia|gram negative rod,"038.9, R78.81",275
8,infectious diseases|systemic/other infections|septic shock|cultures pending,"785.59, 038.9, 995.92, R65.21",221
9,infectious diseases|systemic/other infections|sepsis|sepsis with single organ dysfunction- acute respiratory failure,"038.9, 518.81, R65.20, J96.0",216
10,infectious diseases|systemic/other infections|sepsis|sepsis with single organ dysfunction- acute renal failure,"038.9, 584.9, R65.20, N17",153
11,infectious diseases|systemic/other infections|bacteremia|unclear source,"038.9, R78.81",109
12,infectious diseases|systemic/other infections|sepsis|sepsis with single organ dysfunction- circulatory system failure,"038.9, 785.52, R65.21",109
13,cardiovascular|shock / hypotension|sepsis|sepsis with single organ dysfunction- metabolic encephalopathy,"038.9, 348.31, R65.20, G93.41",103
14,cardiovascular|shock / hypotension|septic shock|organism identified,"785.59, 038.9, 995.92, R65.21",89
15,cardiovascular|shock / hypotension|septic shock|organism identified|gram negative organism,"785.59, 038.9, 995.92",87
16,infectious diseases|systemic/other infections|bacteremia|genitourinary source,"038.9, R78.81",86
17,cardiovascular|shock / hypotension|septic shock|organism identified|gram positive organism,"785.59, 038.9, 995.92",78
18,infectious diseases|systemic/other infections|bacteremia|vascular catheter associated,"038.9, 996.62",51
19,infectious diseases|systemic/other infections|bacteremia|abdominal source,"038.9, R78.81",42
20,infectious diseases|systemic/other infections|septic shock|organism identified,"785.59, 038.9, 995.92, R65.21",39
21,infectious diseases|systemic/other infections|septic shock|gram positive organism,"785.59, 038.9, 995.92, R65.21",38
22,infectious diseases|systemic/other infections|sepsis|sepsis with single organ dysfunction- metabolic encephalopathy,"038.9, 348.31, R65.20, G93.41",36
23,cardiovascular|shock / hypotension|sepsis|sepsis with single organ dysfunction-acute hepatic failure,"038.9, 570, R65.20, K72.0",35
24,infectious diseases|systemic/other infections|bacteremia|respiratory source,"038.9, R78.81",35
25,cardiovascular|shock / hypotension|sepsis|sepsis with single organ dysfunction- congestive heart failure,"038.9, 428.0, R65.20, I50.9",32
26,surgery|infections|sepsis,"038.9, A41.9",30
27,infectious diseases|systemic/other infections|septic shock|gram negative organism,"785.59, 038.9, 995.92, R65.21",26
28,infectious diseases|systemic/other infections|sepsis|sepsis with single organ dysfunction- congestive heart failure,"038.9, 428.0, R65.20, I50.9",13
29,infectious diseases|systemic/other infections|bacteremia|hospital acquired,"038.9, R78.81",11
30,cardiovascular|shock / hypotension|septic shock|organism identified|fungal,"785.59, 038.9, 995.92",8
31,cardiovascular|shock / hypotension|sepsis|sepsis with single organ dysfunction- critical care neuropathy,"038.9, 357.82, R65.20, G62.81",4
32,surgery|infections|sepsis|sepsis with single organ dysfunction- circulatory system failure,"038.9, 785.52, R65.21",4
33,cardiovascular|vascular disorders|arterial thromboembolism|due to sepsis,"038.9, 444.9, A41.9, I74.9",3
34,surgery|infections|sepsis|sepsis with single organ dysfunction- acute respiratory failure,"038.9, 518.81, R65.20, J96.0",3
35,cardiovascular|shock / hypotension|sepsis|sepsis with single organ dysfunction- critical care myopathy,"038.9, 359.81, R65.20, G72.81",3
36,surgery|infections|sepsis|sepsis with single organ dysfunction- acute renal failure,"038.9, 584.9, R65.20, N17",3
37,infectious diseases|systemic/other infections|sepsis|sepsis with single organ dysfunction-acute hepatic failure,"038.9, 570, R65.20, K72.0",3
38,surgery|infections|septic shock|organism identified,"785.59, 038.9, 995.92, R65.21",2
39,surgery|infections|sepsis|sepsis with single organ dysfunction- metabolic encephalopathy,"038.9, 348.31, R65.20, G93.41",2
40,infectious diseases|systemic/other infections|septic shock|fungal,"785.59, 038.9, 995.92, R65.21",2
41,surgery|infections|sepsis|sepsis with single organ dysfunction- congestive heart failure,"038.9, 428.0, R65.20, I50.9",1
42,surgery|infections|sepsis|sepsis with single organ dysfunction- critical care myopathy,"038.9, 359.81, R65.20, G72.81",1

# =============================================

In [16]:
icd9 = '410.'
query = query_schema + """
select diagnosisstring, icd9code
, count(distinct patientunitstayid) as n
from diagnosis
where icd9code like '%{}%'
group by diagnosisstring, icd9code
order by n desc
""".format(icd9)

df = pd.read_sql_query(query, con)
df

,diagnosisstring,icd9code,n
0,cardiovascular|chest pain / ASHD|acute coronary syndrome|acute myocardial infarction (no ST elevation),"410.71, I21.4",5261
1,cardiovascular|chest pain / ASHD|acute coronary syndrome|acute myocardial infarction (with ST elevation),"410.90, I21.3",3057
2,cardiovascular|chest pain / ASHD|acute coronary syndrome|inferior wall,"410.41, I21.19",799
3,cardiovascular|chest pain / ASHD|acute coronary syndrome|acute myocardial infarction (with ST elevation)|inferior wall,"410.41, I21.19",628
4,cardiovascular|chest pain / ASHD|acute coronary syndrome|acute myocardial infarction (with ST elevation)|anterior wall,"410.11, I21.09",596
5,cardiovascular|chest pain / ASHD|acute coronary syndrome|anterior wall,"410.11, I21.09",524
6,cardiovascular|chest pain / ASHD|acute coronary syndrome|acute myocardial infarction (with ST elevation)|lateral wall,"410.51, I21.29",161
7,cardiovascular|chest pain / ASHD|acute coronary syndrome|acute myocardial infarction (with ST elevation)|inferolateral wall,"410.21, I21.19",83
8,cardiovascular|chest pain / ASHD|acute coronary syndrome|acute myocardial infarction (no ST elevation)|due to progression of CAD with stent in place,"410.71, 414.01, I21.4, I25.10",80
9,cardiovascular|chest pain / ASHD|acute coronary syndrome|acute myocardial infarction (with ST elevation)|inferior wall|with conduction disturbance,"410.41, 426.9, I21.19, I45.9",68
10,surgery|acute cardiac problems|acute coronary syndrome|acute myocardial infarction (no ST elevation),"410.70, I21.4",35
11,cardiovascular|chest pain / ASHD|acute coronary syndrome|acute myocardial infarction (with ST elevation)|inferoposterior wall,"410.31, I21.11",34
12,cardiovascular|chest pain / ASHD|acute coronary syndrome|acute myocardial infarction (with ST elevation)|posterior wall,"410.61, I21.29",23
13,cardiovascular|arrhythmias|bradycardia|due to inferior wall MI,"427.81, 410.41, I21.19, R00.1",13
14,cardiovascular|chest pain / ASHD|acute coronary syndrome|acute myocardial infarction (with ST elevation)|right ventricle,"410.81, I21.29",12
15,surgery|cardiac surgery|myocardial infarction,"410.90, I21.3",12
16,cardiovascular|chest pain / ASHD|acute coronary syndrome|acute myocardial infarction (no ST elevation)|due to stent complication,"996.72, 410.71, I21.4",10
17,surgery|acute cardiac problems|acute coronary syndrome|acute myocardial infarction (with ST elevation),"410.90, I21.3",7
18,cardiovascular|chest pain / ASHD|acute coronary syndrome|acute myocardial infarction (with ST elevation)|other site,"410.81, I21.29",6
19,surgery|cardiac surgery|myocardial infarction|no ST elevation,"410.71, I21.4",6
20,cardiovascular|chest pain / ASHD|acute coronary syndrome|right ventricle,"410.81, I21.29",6
21,toxicology|drug overdose|cocaine overdose|with mycocardial infarction,"410.90, 968.5, E980.4, I21.3, T40.5",5
22,cardiovascular|chest pain / ASHD|acute coronary syndrome|acute myocardial infarction (with ST elevation)|anterior wall|with ventricular septal defect,"410.10, I21.09",5
23,surgery|acute cardiac problems|acute coronary syndrome|acute myocardial infarction (with ST elevation)|inferior wall,"410.41, 410.41, I21.19",5
24,surgery|cardiac surgery|myocardial infarction|ST elevation,"410.90, I21.3",5
25,surgery|acute cardiac problems|acute coronary syndrome|acute myocardial infarction (with ST elevation)|anterior wall|ventricular septal defect,"410.11, I21.09",3
26,surgery|acute cardiac problems|acute coronary syndrome|acute myocardial infarction (with ST elevation)|anterior wall|mitral regurgitation,"424.0, 410.11, I21.09, I34.0",2
27,cardiovascular|chest pain / ASHD|acute coronary syndrome|acute myocardial infarction (with ST elevation)|anterior wall|with mitral regurgitation,"410.11, 424.0, I21.09, I34.0",1
28,surgery|acute cardiac problems|bradycardia|due to inferior wall MI,"410.41, 427.81, I21.19, R00.1",1

In [24]:
icd9 = '038.9'
query = query_schema + """
select icd9code
, count(distinct patientunitstayid) as n
from diagnosis
where icd9code like '%{}%'
group by icd9code
order by n desc
""".format(icd9)

df = pd.read_sql_query(query, con)
df

                         icd9code      n
0   038.9, A41.9                   13135
1   038.9, R78.81                  1623
2   038.9, 518.81, R65.20, J96.0   969
3   038.9, 584.9, R65.20, N17      832
4   038.9, 785.52, R65.21          446
5   785.59, 038.9, 995.92, R65.21  365
6   785.59, 038.9, 995.92          152
7   038.9, 348.31, R65.20, G93.41  139
8   038.9, 996.62                  51
9   038.9, 428.0, R65.20, I50.9    46
10  038.9, 570, R65.20, K72.0      38
11  038.9, 357.82, R65.20, G62.81  4
12  038.9, 359.81, R65.20, G72.81  4
13  038.9, 444.9, A41.9, I74.9     3

## Stratify by hospital

In [23]:
icd9 = '038.9, A41.9'
query = query_schema + """
select icd9code
, count(distinct patientunitstayid) as n
from diagnosis
where icd9code like '%{}%'
group by icd9code
left join diagnosis dx
  on pt.patientunitstayid = dx.patientunitstayid
group by pt.hospitalid
order by n desc
""".format(icd9)

df = pd.read_sql_query(query, con)
df

DatabaseError: Execution failed on sql 'set search_path to eicu;
select icd9code
, count(distinct patientunitstayid) as n
from diagnosis
where icd9code like '%038.9, A41.9%'
group by icd9code
left join diagnosis dx
  on pt.patientunitstayid = dx.patientunitstayid
group by pt.hospitalid
order by n desc
': syntax error at or near "left"
LINE 7: left join diagnosis dx
        ^